:root {
  --bg-blue: rgb(177, 202, 214);
  --bg-gray: rgba(112, 112, 112, 0.411);
}

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-blue);
  color: white;
}

#searchbar {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  margin: 20px;
  width: 700px;
}

#condition-icon img {
  width: 70px;
}

.temp-condition {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  align-items: center;
  margin: 20px;
}

#condition {
  grid-column: 2;
}

.temps {
  grid-row: 1;
  grid-column: 3;
}

#temp {
  font-size: 120px;
}

.section {
  padding: 20px;
  border: none;
  border-radius: 25px;
  margin: 30px;
  background-color: var(--bg-gray);
  width: 700px;
  text-align: center;
  display: grid;
  gap: 20px;
}

.conditions {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.conditions div {
  display: grid;
  grid-template-columns: 52px 180px;
  justify-items: center;
  align-items: center;
}

.conditions div img {
  grid-row: 1;
  grid-column: 1;
}

.forecast {
  justify-items: center;
}

.day {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-items: center;
}

img {
  filter: invert(100%);
}
