:root {
  --bg-light: rgb(177, 202, 214);
  --bg-dark: rgba(9, 49, 71, 0.5);
  --hover: rgb(163, 184, 194);
}

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
  color: white;
  font-size: 20px;
}

.search {
  display: grid;
  justify-items: center;
}

#searchbar {
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  width: 700px;
}

.autocompletions {
  display: grid;
}

.autocompletion {
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 8px 20px;
  border: none;
  width: 670px;
  text-align: left;
}

button:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.section {
  padding: 20px;
  border: none;
  border-radius: 25px;
  margin: 25px;
  background-color: var(--bg-dark);
  width: 700px;
  text-align: center;
  display: grid;
  gap: 20px;
}

.current {
  gap: 0;
}

#condition-icon img {
  width: 70px;
}

.temp-condition {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  align-items: center;
  margin: 20px;
}

#condition {
  grid-column: 2;
}

.temps {
  grid-row: 1;
  grid-column: 3;
}

#temp {
  font-size: 120px;
}

.conditions {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.conditions div {
  display: grid;
  grid-template-columns: 52px 180px;
  justify-items: center;
  align-items: center;
}

.conditions div img {
  grid-row: 1;
  grid-column: 1;
}

.forecast {
  justify-items: center;
}

.day {
  display: grid;
  grid-template-columns: 150px 50px 300px 150px;
  justify-items: center;
}

img {
  filter: invert(100%);
}

.smaller {
  font-size: 16px;
}

footer {
  margin: 30px;
}
